{% load static %}     
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Kider - Preschool Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicon -->
        <link href="{% static "img/favicon.ico" %}" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
        
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static "lib/animate/animate.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>

    <body>
        <div class="container-xxl bg-white p-0">
            <!-- Spinner Start -->
            <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->


            <!-- Navbar Start -->
            <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <h1 class="m-0 text-primary"><i class="fa fa-book-reader me-3"></i>Kider</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link">About Us</a>
                        <a href="{% url 'classes' %}" class="nav-item nav-link">Classes</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                                <a href="{% url 'facility' %}" class="dropdown-item">School Facilities</a>
                                <a href="{% url 'team' %}" class="dropdown-item">Popular Teachers</a>
                                <a href="{% url 'teachers' %}" class="dropdown-item">Become A Teachers</a>
                                <a href="{% url 'appointment' %}" class="dropdown-item">Make Appointment</a>
                                <a href="{% url 'testimonial' %}" class="dropdown-item">Testimonial</a>
                                <a href="{% url 'error' %}" class="dropdown-item">404 Error</a>
                            </div>
                        </div>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">Contact Us</a>
                    </div>
                    <a href="" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">Join Us<i class="fa fa-arrow-right ms-3"></i></a>
                </div>
            </nav>
            <!-- Navbar End -->


            {% block home_template %} {% endblock %}
            {% block about_template %}{% endblock %}
            {% block contact_template %}{% endblock %}
            {% block appointment_template %}{% endblock %}
            {% block teachers_template %}{% endblock %} 
            {% block classes_template %}{% endblock %}
            {% block facility_template %}{% endblock %}
            {% block team_template %}{% endblock %}
            {% block testimonial_template %}{% endblock %}
            {% block error_template %}{% endblock %}
           

  

            <!-- Footer Start -->
            <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="container py-5">
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">{{footer_main.0.title}}</h3>
                            {% for get in get_in_touch %}  
                              <p class="mb-2"><i class="{{get.icon_class}}">
                              </i>{{get.description}}</p>
                            {% endfor %}  
                            {% comment %} <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                            <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p> {% endcomment %}
                            <div class="d-flex pt-2">
                              {% for social in socials %}
                                <a class="btn btn-outline-light btn-social" href="{{social.url}}">
                                    <i class="{{social.html_class}}" target="_blank" title="{{social.title}}"></i></a>
                              {% endfor %}
                                {% comment %} <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">{{footer_main.1.title}}</h3>
                            {% for links in quick_links %}
                                <a class="btn btn-link text-white-50" href="">{{links.link_name}}</a>
                            {% endfor %}    
                            {% comment %} <a class="btn btn-link text-white-50" href="">Contact Us</a>
                            <a class="btn btn-link text-white-50" href="">Our Services</a>
                            <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                            <a class="btn btn-link text-white-50" href="">Terms & Condition</a> {% endcomment %}
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">{{footer_main.2.title}}</h3>
                            <div class="row g-2 pt-2">
                                {% for gallery in gallery %}
                                  <div class="col-4">
                                      <img class="img-fluid rounded bg-light p-1" src="{{gallery.image.url}}" alt="">
                                  </div>
                                {% endfor %}  
                                {% comment %} <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="{% static "img/classes-2.jpg" %}" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="{% static "img/classes-3.jpg" %}" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="{% static "img/classes-4.jpg" %}" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="{% static "img/classes-5.jpg" %}" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="{% static "img/classes-6.jpg" %}" alt="">
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">{{newsletter.title}}</h3>
                            <p>{{newsletter.description}}</p>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                                <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                                {{footer_text.text1}} <a class="border-bottom" href="{{footer_text.link_url2}}">{{footer_text.link_name2}}</a>{{footer_text.text2}} 
                                
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                {{footer_text.text3}} <a class="border-bottom" href="{{footer_text.link_url1}}">{{footer_text.link_name1}}</a>
                            </div>
                            <div class="col-md-6 text-center text-md-end">
                                <div class="footer-menu">
                                    <a href="">Home</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static "lib/wow/wow.min.js" %}"></script>
        <script src="{% static "lib/easing/easing.min.js" %}"></script>
        <script src="{% static "lib/waypoints/waypoints.min.js" %}"></script>
        <script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>

        <!-- Template Javascript -->
        <script src="{% static "js/main.js" %}"></script>
    </body>

    </html>